@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    margin: 0;
    font-family: 'Montserrat', Montserrat, 'Roboto', Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}