doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style.
            .btn {
                background-color: #00a0f0;
                border-radius: 5px;
                border: 2px double #cccccc;
                color: #eeeeee;
                text-align: center;
                font-size: 18px;
                width: 200px;
                text-decoration: none;
                font-family: "Josefin Sans";
                padding: 8px 47px;
                height: 51px;
            }
            img {
                text-align: center;
                margin: 17px 0 0 0;
            }
            h1 {
                text-align: center;
                color: #ff462c;
                font-family: 'Josefin Sans';
            }
            p {
                text-align: center;
                color: #000000;
            }
            p {
                text-align: center;
            }
            body {
                background-color: #d8dbdb;
                max-width: 400px;
                margin: 0 auto;
                padding: 2%;
            }
            .button-holder {
                text-align: center;
            }
            #wrapper {
                background: #ffff;
            }
    body
        #wrapper
            header
                #logo
                    p(style='text-align: center;')
                        img(src='https://pro-sport-images.s3.amazonaws.com/footer_logo.svg')
                .one-col
                    p  #{NAME}
                    p  #{CONTACT_NUMBER}
                    p  #{EMAIL}
                    p  #{DESCRIPTION}
                br
                br
                p(style="color: #e8e8e8; font-family: 'Josefin Sans';")  © 2021. Pro Sport
        // --End Wrapper
